<div "experience_div" >
    <% if @work_experience.is_hidden != true %> 
        <div class="hide_icon cyan-text fa fa-minus-circle " id="<%=@work_experience.id%>"></div>
        <div class="show_icon toggle cyan-text fa fa-plus-circle " id="<%=@work_experience.id%>"></div>

        <div class ="dynamic_experience">
    <% elsif @work_experience.is_hidden == true %> 
        <div class="show_icon cyan-text fa fa-plus-circle " id="<%=@work_experience.id%>"></div>
        <div class="hide_icon toggle cyan-text fa fa-minus-circle " id="<%=@work_experience.id%>"></div>

        <div class ="dynamic_experience" style="display:none">
      <% end %> 
           <div class="row" > 
                <div class="col s9">
                <p class="academic_position" id="position" style="text-transform: uppercase; font-weight: 800; margin-left: -2% !important"><%= best_in_place @work_experience, :organization , :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) }, :place_holder => "<span> Harris County Toll Road Authority</span>" %></p>
                </div>
                
                <div class="col s3">
                <p style="font-weight: 800"><%= best_in_place @work_experience, :start_date , :place_holder => "<span id='empty'> Starting Date - Present </span>" %></p>
                </div>
            </div>
        
            
            <div class="row" > 
            <p><%= best_in_place @work_experience, :position , :place_holder => "Summer Intern; Harris County, TX" %></p></ul>
            
            <p id="work_experience_detail1"> &bull; <%= best_in_place @work_experience, :detail1, id: @work_experience.id ,  :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) }, :data => {:append => "work_experience_detail1", :field => "detail1"}, :place_holder => "<span id='empty'> Manage EZ TAG account closing and approval for refunding</span> " %></p>
            <p id="work_experience_detail2"> &bull;  <%= best_in_place @work_experience, :detail2 , id: @work_experience.id , :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) },:data => {:append => "work_experience_detail2", :field => "detail2"}, :place_holder => "<span id='empty'> Assist cross-functional departments in auditing and accounting</span>" %></p>
            <p id="work_experience_detail3"> &bull; <%= best_in_place @work_experience, :detail3 ,id: @work_experience.id , :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) }, :data => {:append => "work_experience_detail3", :field => "detail3"},:place_holder => "<span id='empty'> Any tangible projects or publications that demonstrate your work</span>" %></p>
            </div>
            
        </div>
    </div> 


  <div "experience_div" >
   <% if @work2_experience.is_hidden != true %> 
        <div class="hide_icon cyan-text fa fa-minus-circle " id="<%=@work2_experience.id%>"></div>
        <div class="show_icon toggle cyan-text fa fa-plus-circle " id="<%=@work2_experience.id%>"></div>

        <div class ="dynamic_experience">
    <% elsif @work2_experience.is_hidden == true %> 
        <div class="show_icon cyan-text fa fa-plus-circle " id="<%=@work2_experience.id%>"></div>
        <div class="hide_icon toggle cyan-text fa fa-minus-circle " id="<%=@work2_experience.id%>"></div>

        <div class ="dynamic_experience" style="display:none">
      <% end %> 
            <div class="row" style="margin-botton: -1%"> 
                <div class="col s9">
                <p class="academic_position" id="position" style="text-transform: uppercase; font-weight: 800;margin-left: -2% !important"><%= best_in_place @work2_experience, :organization , :place_holder => "<span > Hilltop Securities, Inc.</span>" %></p>
                </div>
                
                <div class="col s3">
                <p style="font-weight: 800"><%= best_in_place @work2_experience, :start_date , :place_holder => "<span id='empty'> Starting Date - Ending Date </span>" %></p>
                </div>
            </div>
            
            <div class="row"> 
                <p class="academic_position" ><%= best_in_place @work2_experience, :position , :place_holder => "<span> Summer Analyst; Houston, TX </span>" %></p></ul>
                
                <p id="work2_experience_detail1"> &bull; <%= best_in_place @work2_experience, :detail1 , id: @work2_experience.id ,   :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) },:data => {:append => "work2_experience_detail1", :field => "detail1"}, :place_holder => "<span id='empty'> Assisted financial analysts in day to day operations to increase sale of bonds and deal flow</span>" %></p>
                <p id="work2_experience_detail2"> &bull;  <%= best_in_place @work2_experience, :detail2 ,id: @work2_experience.id , :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) }, :data => {:append => "work2_experience_detail2", :field => "detail2"}, :place_holder => "<span id='empty'> Analyzed and edited offering documents to ensure accuracy and clarity for client </span>" %></p>
                <p id="work2_experience_detail3"> &bull; <%= best_in_place @work2_experience, :detail3 ,id: @work2_experience.id ,  :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) },:data => {:append => "work2_experience_detail3", :field => "detail3"}, :place_holder => "<span id='empty'> Participated in the execution of financings and transactions</span>" %></p>
            </div>
        </div>
    </div> 
    
     <div "experience_div" >
    <% if @work3_experience.is_hidden != true %> 
    
        <div class="hide_icon cyan-text fa fa-minus-circle " id="<%=@work3_experience.id%>"></div>
        <div class="show_icon toggle cyan-text fa fa-plus-circle " id="<%=@work3_experience.id%>"></div>

        <div class ="dynamic_experience">
    <% elsif @work3_experience.is_hidden == true %> 
        <div class="show_icon cyan-text fa fa-plus-circle " id="<%=@work3_experience.id%>"></div>
        <div class="hide_icon toggle cyan-text fa fa-minus-circle " id="<%=@work3_experience.id%>"></div>

        <div class ="dynamic_experience" style="display:none">
      <% end %> 
            <div class="row" style="margin-botton: -2%"> 
                <div class="col s9">
                <p class="academic_position" id="position" style="text-transform: uppercase; font-weight: 800; margin-left: -2% !important"><%= best_in_place @work3_experience, :organization , :place_holder => "<span>Spring Creek Barbecue </span>" %></p>
                </div>
                
                <div class="col s3">
                <p style="font-weight: 800"><%= best_in_place @work3_experience, :start_date , :place_holder => "<span id='empty'> Starting Date - Ending Date </span>" %></p>
                </div>
            </div>
            
            <div class="row"> 
                <p><%= best_in_place @work3_experience, :position , :place_holder => "<span> Assistant Chef; Pearland, TX </span>",:class =>"academic_experience" %></p>
                
                <p id="work3_experience_detail1"> &bull; <%= best_in_place @work3_experience, :detail1 ,  id: @work3_experience.id , :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) }, :data => {:append => "work3_experience_detail1", :field => "detail1"}, :place_holder => "<span id='empty'> Assisted managing kitchen staff by delegating tasks as it relates to meal prep, cooking, and timely serving food</span>" %></p>
                <p id="work3_experience_detail2"> &bull;  <%= best_in_place @work3_experience, :detail2 , id: @work3_experience.id ,  :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) },:data => {:append => "work3_experience_detail2", :field => "detail2"},:place_holder => "<span id='empty'> Manage relationships with chef staff and clients to increase team morale and best practices
</span>" %></p>
                <p id="work3_experience_detail3"> &bull; <%= best_in_place @work3_experience, :detail3 , id: @work3_experience.id ,  :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) },:data => {:append => "work3_experience_detail3", :field => "detail3"}, :place_holder => "<span id='empty'> Research new trends in the industry to create creative seasonal plates </span>" %></p>
            </div>
        </div>
    </div> 
    <% if @work4_experience %>
     <div "experience_div" >
    <% if @work4_experience and @work4_experience.is_hidden != true %> 
    
        <div class="hide_icon cyan-text fa fa-minus-circle " id="<%=@work4_experience.id%>"></div>
        <div class="show_icon toggle cyan-text fa fa-plus-circle " id="<%=@work4_experience.id%>"></div>

        <div class ="dynamic_experience">
    <% elsif @work4_experience and @work4_experience.is_hidden == true %> 
        <div class="show_icon cyan-text fa fa-plus-circle " id="<%=@work4_experience.id%>"></div>
        <div class="hide_icon toggle cyan-text fa fa-minus-circle " id="<%=@work4_experience.id%>"></div>

        <div class ="dynamic_experience" style="display:none">
      <% end %> 
        
            <div class="row" style="margin-botton: -2%"> 
                <div class="col s9">
                <p class="academic_position" id="position" style="text-transform: uppercase; font-weight: 800; margin-left: -2% !important"><%= best_in_place @work4_experience, :organization , :place_holder => "<span> Triad Construction Company </span>" %></p>
                </div>
                
                <div class="col s3">
                <p style="font-weight: 800"><%= best_in_place @work4_experience, :start_date , :place_holder => "<span id='empty'> Starting Date - Ending Date </span>" %></p>
                </div>
            </div>
            
            <div class="row"> 
                <p><%= best_in_place @work4_experience, :position , :place_holder => "<span> Construction Assitant; Pearland TX </span>",:class =>"academic_experience" %></p>
                
                <p id="work4_experience_detail1"> &bull; <%= best_in_place @work4_experience, :detail1 ,  id: @work4_experience.id , :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) }, :data => {:append => "work4_experience_detail1", :field => "detail1"}, :place_holder => "<span id='empty'> Cleansed and organized construction site to increase the efficiency of project timeline according to local and state laws</span>" %></p>
                <p id="work4_experience_detail2"> &bull;  <%= best_in_place @work4_experience, :detail2 , id: @work4_experience.id , :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) }, :data => {:append => "work4_experience_detail2", :field => "detail2"},:place_holder => "<span id='empty'> Participated in the building of storage units</span>" %></p>
                <p id="work4_experience_detail3"> &bull; <%= best_in_place @work4_experience, :detail3 , id: @work4_experience.id , :display_with => lambda { |v| highlight_with_quant(v, @highlight_keywords ) }, :data => {:append => "work4_experience_detail3", :field => "detail3"}, :place_holder => "<span id='empty'> Participated in the building of storage units</span>" %></p>
            </div>
        </div>
    </div> 
            <% end %> 