<div class="header_div"> 

<h5 class="center" style="font-size: 40px; "> <%= best_in_place @resume, :name %></h5>

    <div class="row contact_row"> 
       
       <%= render 'resumes/templates/elements/header_center' %> 
        
    </div>
</div>
<br> 

<div class="education_section"> 
<h6 class="education_header">EDUCATION</h6> 
   <%= render 'resumes/templates/elements/academic_map' %> 


<br>
<div class="work_section"> 
<h6 class="education_header">EXPERIENCE </h6>
  <%= render 'resumes/templates/elements/work_map' %> 
  

    
    
   
    
</div>

<div class="leadership_section"> 
<h6 class="education_header">LEADERSHIP EXPERIENCE AND ACTIVITIES</h6> 
        <%= render 'resumes/templates/elements/leadership_map' %> 

</div>
<div class="leadership_section"> 
<h6 class="education_header">HONORS</h6> 
    <% if @skill_1 %> 
    <p id="skill1"> &bull; <%= best_in_place @skill_1, :name, id: @skill_1.id , :data => {:append => "skill_1", :field => "name"}, :place_holder => "<span id='empty'><strong>Relevant Courses:</strong> Managerial Accounting, Business Finance, Macro Economics, Oral Communication</span> " %></p>
 <% end %> 
 
 <% if @skill_2 %> 
    <p id="skill2"> &bull; <%= best_in_place @skill_2, :name, id: @skill_2.id , :data => {:append => "skill_2", :field => "name"}, :place_holder => "<span id='empty'><strong>Relevant Courses:</strong> Managerial Accounting, Business Finance, Macro Economics, Oral Communication</span> " %></p>
 <% end %> 

</div>

<div class="skills_section"> 
<h6 class="education_header">ADDITIONAL INFORMATION </h6> 
 <% if @skill_3%> 
    <p id="skill3"> &bull; <%= best_in_place @skill_3, :name, id: @skill_3.id , :data => {:append => "skill_3", :field => "name"}, :place_holder => "<span id='empty'><strong>Relevant Courses:</strong> Managerial Accounting, Business Finance, Macro Economics, Oral Communication</span> " %></p>
 <% end %> 

</div>
</div>

<script>

</script>

<style> 
    .toggle {
        display: none;
    }
    p{
        font-size: 10px ;
    }
    h6 {
        font-size: 14px ;
    }
</style>

<style type="text/css" media="print">
    p{
        font-size: 14px;
    }
    h6 {
        font-size: 18px;
    }
 
</style>

